a.language {
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 0.5vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    padding: 1vw;
}

a.language img {
    vertical-align: middle;
    width: 10vw;
    min-width: 100px;
    border-radius: 4px;
}

a.language h2 {
    font-size: 24px;
    display: inline;    
}

a.language h3 {
    font-size: 18px;
    margin-top: 1vw;
    text-align: center;
}

main div {
    display: inline-block;
    margin: 0 auto;
    width: auto;
}

p.copyright {
    color: #777;
}
