div.post-label {
	background-color: #f2f2f2;
	border-radius: 8px;
	margin-bottom: 0.5vw;
	padding: 1vw;
	width: 100%
	display: inline-block;
	max-width: 400px;
	text-align: left;
	transition-duration: 0.2s;
}

.post-button {
	display: block;
	margin-bottom: 0.5vw;
}

div.post-label:hover a.post-title {
	color: blue;
}

p.post-label-info {
	font-size: 12px;
}

@media (max-width: 400px) {
    div.post-label {

    }
}

