input {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 0.5vw;
    width: 25vw;
    min-width: 200px;
}

input, button {
    margin-bottom: 0.5vw;
}

button {
    width: 12.25vw;
    padding: 0.5vw;
    min-width: 100px;
    margin-right: 0.5vw;
}

@media (max-width: 810px) {
    button {
        min-width: 200px;
    }
}
