section.splash {
	background-image: url("/jpg/italy.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.splash h1 {
    font-family: 'PT Serif', serif;
	color: white;
	text-shadow: 1px 1px #373737;
	text-align: center;
	font-size: 200%;
}

a {
	min-width: 100px;
}

section.splash a {
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 2vh;
}

div.splash-container {
	margin: 0 10vw;
	width: 50vw;
}

div.splash-container-flex {
	display: flex;
	justify-content: center;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0);
}

footer {
	margin-top: 5vh;
}

header h1 {
	color: white;
}

main {
	margin: 0;
}

div.info-container {
	display: block;
}

div.info-container h2 {
    font-family: 'PT Serif', serif;
    margin-top: 5vh;
	text-align: center;
}

section.info {
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 2.5vh;
	margin: 0 auto;
	margin-top: 5vh;
	width: 30vw;
}

section.info h3 {
	font-size: 110%;
	display: inline-block;
	margin-top: 2.5vh;
}

section.info i {
	vertical-align: top;
	text-align: center;
	width: 100%;
}

div.bottom-get-started-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5vh;
}


div.bottom-get-started-container a {
}

div.icon-container {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
}
