/* Reset */

a, button, h1, h2, h3, h4, h5, h6, p, li, ul, main, header, footer, body, textarea, input, img, form,
blockquote, img {
	border: none;
	margin: 0;
	padding: 0;
	font: inherit;
	outline: none;
}

h1 { font-size: 250%; }
h2 { font-size: 225%; }
h3 { font-size: 200%; }
h4 { font-size: 175%; }
h5 { font-size: 150%; }
h6 { font-size: 125%; }

a {
	color: inherit;
	text-decoration: none;
}

a.button:hover {
	background-color: #eee;
}

li {
	list-style-type: none;
	display: inline;
}

textarea, input.text {
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 1vw;
	resize: none;
}

/* Universal style */

header, footer {
	background-color: #f2f2f2;
}

header {
	width: 100vw;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	color: #3b3b3b;
	margin-left: 2vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	font-size: 175%;
    font-family: 'Pacifico', cursive;	
}

footer {
	margin-top: 20vh;
	text-align: center;
	padding: 1vw;
}

button, a.button {
	background-color: #46b980;
	color: #fff;
	padding: 0.5em 3em;
	display: inline-block;
	border-radius: 4px;
	transition-duration: 0.3s;
	text-align: center;
}

button:hover, a.button:hover {
	background-color: #66d9a0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

main {
	background-color: #fff;
	border-radius: 8px;
	color: #373737;
	margin: 0 auto;
	text-align: left;
	margin-top: 5vh;
	width: 50vw;
	min-width: 250px;
	min-height: 85vh;
}

a.header-button {
	margin-right: 2vw;
}

section.topic {
	margin-bottom: 5vh;
}

footer ul li {
    margin: 0 0.75vw;
}

blockquote {
	margin-left: 2vw;
	padding-left: 1vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	border-left: 3px solid gray;
}

p.copyright {
    color: #777;
}

strong {
	color: green;
}

del {
	color: red;
}

a.anchor-text {
	color: #2200CC;
}

button.textonly {
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	display: inline;
}

button.textonly:hover {
	cursor: pointer;
}
