p.author {
	font-size: 12px;
}

div.description {
	margin-bottom: 5vh;
}

textarea {
	width: 100%;
	margin-bottom: 6px;
}

div.comment-list {
	margin-bottom: 25vh;
}

div.comment-view {
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 6px;
	margin-bottom: 6px;
}

div.comment-view a {
	color: #2200CC;
}

div.comment-view a:hover {
	color: #2200CC;
}

#comment-form {
	margin-bottom: 5vh;
	margin-top: 5vh;
}

#delete-button {
	background-color: #ff420e;
	margin-bottom: 6px;
}

#delete-button:hover {
	background-color: #ff723e;
}

button.format-button {
	padding: 0;
	margin: 0;
	margin-bottom: 6px;
	margin-right: 6px;
	width: 3vw;
	height: 3vw;
	min-width: 38px;
	min-height: 38px;
}

#quote-button {
	margin-right: 6px;
}

a.delete-button {
	background-color: #db4422;
	margin-left: 6px;
}

a.delete-button:hover {
	background-color: #fb5533;
}

.delete-comment {
	margin-left: 3px;
}

@media (max-width: 640px) {
	button.bottom-button, a.delete-button {
		padding-left: 0;
		padding-right: 0;
		width: 49%;
		margin-right: 0;
	}

	a.delete-button {
		margin-left: 0;
		margin-top: 6px;
	}

	#quote-button {
		margin-right: 2%;
	}
}
